<template>
    <div class="input-group">
        <slot name="before"></slot>
        <input @click="$refs.input.click()" type="text" :value="name" :placeholder="label" :required="required" :disabled="disabled" readonly role="button" class="form-control">
        <div class="input-group-btn">
            <button @click="$refs.input.click()" :disabled="disabled" class="btn btn-default">
                <span v-t="'browse'"></span>
                <input ref="input" @change="changeFiles($event.target.files)" :multiple="multiple" :accept="accept" type="file" class="hidden">
            </button>
            <button v-if="!required" @click="clearFiles()" :disabled="disabled" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        <slot name="after"></slot>
    </div>
</template>

<script>
    import LocalFileContent from '$api/enums/LocalFileContent';

    export default {
        name: "row-file",
        props: {
            value: {
                type: [File, FileList],
                // required: true
            },
            multiple: {
                type: Boolean,
                default: false
            },
            required: {
                type: Boolean,
                default: false
            },
            disabled: {
                type: Boolean,
                default: false
            },
            content: {
                type: Number,
                default: LocalFileContent.Image
            },
            size: {
                type: Number,
                default: 4194304 // 4 MB in bytes
            }
        },
        computed: {
            label() {
                return LocalFileContent.ToString(this.content) + ' file' + (this.multiple ? 's...' : '...');
            },
            name() {
                return this.value?.length ? [...this.value].map(f => '`' + f.name + '`').join(', ') : this.value?.name;
            },
            contents() {
                return LocalFileContent.GetSupportedContent(this.content);
            },
            accept() {
                return this.contents.join(', ');
            }
        },
        methods: {
            changeFiles(files) {
                if (typeof files.length !== 'number' || files.length === 0) {
                    alert('No files selected.');
                    return;
                }
                for (let i = 0; i < files.length; i++) {
                    if (this.contents.includes(files[i].type) === false) {
                        alert(`File "${files[i].name}" has an invalid type "${files[i].type}".`);
                        this.$emit('input', null);
                        return;
                    }
                    if (files[i].size > this.size) {
                        alert(`"${files[i].name}" file size exceeds ${(this.size / 1024 / 1024).toUnfixed(2)} megabytes limit.`);
                        this.$emit('input', null);
                        return;
                    }
                }
                if (this.multiple) {
                    this.$emit('input', files);
                } else {
                    this.$emit('input', files[0]);
                }
            },
            clearFiles() {
                this.$refs.input.value = null;
                this.$emit('input', null);
            }
        },
        i18n: {
            messages: {
                en: {
                    browse: 'Browse'
                },
                ru: {
                    browse: 'Выбрать'
                }
            }
        }
    }
</script>

<style scoped>
    .form-control {
        background-color: white;
    }
</style>
