<template>
    <textarea :name="name" :value="value" @input="$emit('input', $event.target.value)" v-validate="vValidateValue" :required="required" :class="{'alert-danger': errors.has(name)}">
        <slot></slot>
    </textarea>
</template>

<script>
    import RowInput from './row-input';

    export default {
        extends: RowInput,
        name: "row-textarea",
    }
</script>
