<template>
    <input :data-vv-scope="vScope" :name="name" :value="value" @input="$emit('input', $event.target.value)" v-validate="vValidateValue" :required="required" :class="{'alert-danger': errors.has(name, vScope)}">
</template>

<script>
    export default {
        name: "row-input",
        inject: ['$validator'],
        props: {
            name: {
                type: String, Object,
                required: true
            },
            value: null,
            required: {
                type: Boolean,
                default: false
            },
            vValidate: {
                type: [String, Object],
                default: null
            },
            vScope: {
                type: String,
                default: null
            }
        },
        computed: {
            vValidateValue() {
                if (typeof this.vValidate === 'string') {
                    return this.required ? 'required|' + this.vValidate : this.vValidate
                } else {
                    return Object.assign({required: this.required}, this.vValidate);
                }
            }
        }
    }
</script>
