<template>
    <select ref="selectpicker" :data-vv-scope="vScope" :name="name" :value="value" @input="$emit('input', $event.target.value)" v-validate="vValidateValue" :required="required" :class="{'alert-danger': errors.has(name, vScope)}">
        <slot></slot>
    </select>
</template>

<script>
    import '../../../dist/lib/bootstrap-select/js/bootstrap-select';

    import RowInput from './row-input';

    export default {
        extends: RowInput,
        name: "row-select",
        props: {
            // https://developer.snapappointments.com/bootstrap-select/options/#core-options
            // When set to true, adds a search box to the top of the selectpicker dropdown.
            liveSearch: {
                type: Boolean,
                default: false
            },
            // Setting liveSearchNormalize to true allows for accent-insensitive searching.
            liveSearchNormalize: {
                type: Boolean,
                default: false
            }
        },
        mounted() {
            // enable picker
            if (document.readyState === 'complete') {
                this.attachPicker();
            } else {
                window.addEventListener('load', this.attachPicker);
            }
        },
        /*computed: {
            select() {
                return this.$refs.selectpicker;
            }
        },*/
        watch: {
            value(val, oldVal) {
                this.$nextTick(() => $(this.$refs.selectpicker).selectpicker('render'));
            }
        },
        methods: {
            attachPicker() {
                // https://developer.snapappointments.com/bootstrap-select/
                $(this.$refs.selectpicker).selectpicker({
                    liveSearch: this.liveSearch,
                    liveSearchNormalize: this.liveSearchNormalize,
                });
                $(this.$refs.selectpicker).on('changed.bs.select', (event, clickedIndex, isSelected, previousValue) => {
                    // console.log(event, event.target.value, clickedIndex, isSelected, previousValue);
                    this.$emit('input', event.target.value);
                });
            },
            // вызывать при изменении option's
            refresh() {
                this.$nextTick(() => $(this.$refs.selectpicker).selectpicker('refresh'));
            }
        }
    }
</script>

<style src="../../../dist/lib/bootstrap-select/css/bootstrap-select.css"></style>
<style scoped>

</style>
