<template>
    <div ref="datetimepicker" class="date input-group">
        <slot ref="input"></slot>
        <span v-show="icon" class="input-group-addon btn btn-default">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        <div v-if="!required && !readonly" class="input-group-btn">
            <button @click="clearValue" class="btn btn-default">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
    </div>
</template>

<script>
    import '../../../dist/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js';

    export default {
        name: "row-date",
        props: {
            value: {
                type: String,
                // required: true
            },
            required: {
                type: Boolean,
                default: false
            },
            readonly: {
                type: Boolean,
                default: false
            },
            selectable: {
                type: Boolean,
                default: false
            },
            date: {
                type: Boolean,
                default: true
            },
            time: {
                type: Boolean,
                default: false
            },
            icon: {
                type: Boolean,
                default: true
            },
            // http://eonasdan.github.io/bootstrap-datetimepicker/Options/#viewmode
            viewMode: {
                type: String,
                default: 'days'
            },
            // http://eonasdan.github.io/bootstrap-datetimepicker/Options/#minmaxdate
            minDate: {
                type: String,
                default: null
            },
            maxDate: {
                type: String,
                default: null
            },
            // http://eonasdan.github.io/bootstrap-datetimepicker/Options/#usecurrent
            useCurrent: {
                type: Boolean,
                default: false
            },
            // http://eonasdan.github.io/bootstrap-datetimepicker/Options/#keepinvalid
            keepInvalid: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            format() {
                if (this.date && !this.time) {
                    return 'DD.MM.YYYY';
                }
                if (!this.date && this.time) {
                    return 'HH:mm';
                }
                return 'DD.MM.YYYY HH:mm';
            },
            picker() {
                return $(this.$refs.datetimepicker).data('DateTimePicker');
            },
            input() {
                return [...this.$refs.datetimepicker.children].find(c => c.localName === 'input');
            }
        },
        mounted() {
            if (!this.input) {
                alert('Put <input> in <row-date> slot.');
            } else {
                this.input.required = this.required;
                this.input.readOnly = this.readonly;
                // enable picker
                if (document.readyState === 'complete') {
                    this.attachPicker();
                } else {
                    window.addEventListener('load', this.attachPicker);
                }
            }
        },
        watch: {
            required(value) {
                this.input.required = value;
            },
            readonly(value) {
                this.input.readOnly = value;
            }
        },
        methods: {
            attachPicker() {
                // http://eonasdan.github.io/bootstrap-datetimepicker/
                $(this.$refs.datetimepicker).datetimepicker({
                    locale: this.$i18n.locale,
                    defaultDate: this.value || false,
                    format: this.format,
                    viewMode: this.viewMode,
                    minDate: this.minDate || false,
                    maxDate: this.maxDate || false,
                    useCurrent: this.useCurrent,
                    keepInvalid: this.keepInvalid,
                    // selectable
                    ignoreReadonly: this.selectable,
                    showClear: this.selectable && !this.required,
                }).on('dp.change', (e) => {
                    let value = [...e.currentTarget.children].find(c => c.localName === 'input').value;
                    this.$emit('input', value ? value : null);
                });
                // fix 'dp.change' don't work if useCurrent
                if (!this.value && this.useCurrent) {
                    this.picker.date(this.$moment().add(-5, 's'));
                    this.$emit('input', this.input.value);
                }
                if (this.selectable) {
                    this.input.onclick = () => {
                        this.picker.show();
                    };
                }
            },
            clearValue() {
                this.$emit('input', null);
                this.picker.clear();
            }
        }
    }
</script>

<style src="../../../dist/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css"></style>
<style scoped>
    /*.input-group-addon {*/
    /*background-color: white;*/
    /*}*/
</style>
