<template>
    <input ref="input" type="hidden">
</template>

<script>
    import Vue from 'vue';

    export default {
        name: "clipboard-component",
        created() {
            Vue.prototype.$clipboard = {
                setText: this.setText,
                getText: this.getText
            };
        },
        methods: {
            // https://codepen.io/PJCHENder/pen/jamJpj?editors=1010
            setText(text) {
                this.$refs.input.value = text;
                this.$refs.input.setAttribute('type', 'text');
                this.$refs.input.select();
                try {
                    if (!document.execCommand('copy')) {
                        alert('Failed to copy value from clipboard.');
                    }
                } catch (error) {
                    alert('Oops, unable to copy.');
                }
                /* cancel the range */
                this.$refs.input.setAttribute('type', 'hidden');
                window.getSelection().removeAllRanges();
            },
            // https://stackoverflow.com/a/22702538
            /*getText() {
                navigator.clipboard.readText()
                    .then(text => {
                        console.log('Pasted content: ', text);
                    })
                    .catch(err => {
                        console.error('Failed to read clipboard contents: ', err);
                    });
                this.$refs.input.setAttribute('type', 'text');
                this.$refs.input.select();
                try {
                    if (document.execCommand('paste')) {
                        return this.$refs.input.value;
                    } else {
                        alert('Failed to paste value from clipboard.');
                    }
                } catch (error) {
                    alert('Oops, unable to paste.');
                } finally {
                    // cancel the range
                    this.$refs.input.setAttribute('type', 'hidden');
                    window.getSelection().removeAllRanges();
                }
                return null;
            }*/
        }
    }
</script>
