<template>
    <div class="row">
        <div class="col-xs-10">
            <nav aria-label="Page navigation">
                <ul class="pagination m-0">
                    <li @click="updateCollection(1)" :class="{'disabled': collection.page === 1 || methodInProcess}">
                        <span aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </span>
                    </li>
                    <li v-for="page in pages" @click="updateCollection(page)" :class="{'active': page === collection.page, 'disabled': methodInProcess && page !== collection.page}">
                        <span>{{ page }}</span>
                    </li>
                    <li @click="updateCollection(collection.pages)" :class="{'disabled': collection.page === collection.pages || methodInProcess}">
                        <span aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-xs-2">
            <select v-model.number="collection.limit" @change="updateCollection()" :disabled="methodInProcess" class="form-control w-auto pull-right">
                <option v-for="limit in limits" :value="limit">{{ limit }}</option>
            </select>
        </div>
    </div>
</template>

<script>
    import PaginatedCollectionDTO from '$api/dto/PaginatedCollectionDTO';

    export default {
        name: "pagination-component",
        props: {
            collection: {
                type: PaginatedCollectionDTO,
                default: () => new PaginatedCollectionDTO()
            },
            limits: {
                type: Array,
                default: () => [10, 25, 50]
            },
            method: {
                type: Function,
                required: true
            },
            autoUpdate: {
                type: Boolean,
                default: true
            },
            memorizer: {
                type: Boolean,
                default: true
            }
        },
        computed: {
            pages: {
                get() {
                    return this.collection._pages;
                },
                set(value) {
                    this.collection._pages = value;
                }
            }
        },
        data: () => ({
            methodInProcess: false
        }),
        created() {
            this.getData();
            if (this.autoUpdate) {
                this.updateCollection();
            }
        },
        methods: {
            getData() {
                if (this.memorizer) {
                    let data = this.$memorizer.take('pagination');
                    if (data) {
                        this.collection.page = data.page;
                        // this.collection.pages = data.pages;
                        this.collection.limit = data.limit;
                        // this.collection.count = data.count;
                    }
                }
            },
            setData() {
                if (this.memorizer) {
                    this.$memorizer.set('pagination', {
                        page: this.collection.page,
                        // pages: this.collection.pages,
                        limit: this.collection.limit,
                        // count: this.collection.count
                    });
                }
            },
            updateCollection(page = null, thenFunction = null) {
                if (page) {
                    if (this.collection.page === page) {
                        return;
                    }
                    this.collection.page = page;
                }
                this.methodInProcess = true;
                this.method(this.collection, (collection) => {
                    this.collection.page = collection.page;
                    this.collection.pages = collection.pages;
                    this.collection.limit = collection.limit;
                    this.collection.count = collection.count;
                    this.collection.list = collection.list;
                    this.setData();
                    this.updatePages();
                    if (typeof thenFunction === 'function') {
                        thenFunction();
                    }
                    setTimeout(() => this.methodInProcess = false, 1000);
                });
            },
            updatePages() {
                let page = this.collection.page;
                let total = this.collection.pages;

                if (total <= 11) {
                    this.pages = [...Array(total).keys()].map(i => i + 1);
                } else {
                    if (page <= 6) {
                        this.pages = [...Array(11).keys()].map(i => i + 1);
                        this.pages[10] = total;
                    } else if (page >= (total - 5)) {
                        this.pages = [...Array(11).keys()].map(i => (total - 10) + i);
                        this.pages[0] = 1;
                    } else {
                        this.pages = [...Array(11).keys()].map(i => (page - 5) + i);
                        this.pages[0] = 1;
                        this.pages[10] = total;
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .pagination li {
        cursor: pointer;
    }

    .pagination li span {
        /*color: #333;*/
    }
</style>
