<template>
    <div class="pt-15 text-center">
        <div class="page-header">
            <h1 style="font-size: 63px">404</h1>
            <h2>Page not found</h2>
        </div>
        <h4>Sorry, but the page you are looking for was not found.</h4>
        <p>Try checking the URL for error, then hit the refresh button on your browser.</p>
    </div>
</template>

<script>
    export default {
        name: "error-404",
        metaInfo() {
            return {
                title: 'Error 404 - Page not found',
                meta: [
                    {name: 'robots', content: 'noindex'},
                ]
            }
        }
    }
</script>
