<template>
    <div v-if="$user.loggedIn" class="container">
        <div class="mb-15">
            <button @click="eventNewShow=true" v-show="!eventNewShow" class="btn btn-default">Создать событие</button>
            <div v-show="eventNewShow" class="panel panel-default">
                <div class="panel-heading">
                    Создать событие
                </div>
                <div class="panel-body">
                    <form @submit.prevent="$validator.validateTask(postEvent)" class="table m-0">
                        <row-input name="Members limit" v-model.number="eventNew.membersLimit" placeholder="Лимит участников"
                                   v-validate="'between:1,2147483647'" required type="number"
                                   class="form-control input-lg"/>
                        <br>
                        <row-input name="Name" v-model="eventNew.name" placeholder="Наименование"
                                   v-validate="'max:128'" required type="text"
                                   class="form-control input-lg"/>
                        <br>
                        <row-textarea name="Description" v-model="eventNew.description" placeholder="Описание"
                                      v-validate="'max:4096'" type="text"
                                      class="form-control input-lg"/>
                        <br>
                        <row-input name="Time" v-model="eventNew.time" placeholder="Время проведения"
                                   v-validate="'max:128'" required type="text"
                                   class="form-control input-lg"/>
                        <br>
                        <row-input name="Location" v-model="eventNew.location" placeholder="Локация"
                                   v-validate="'max:256'" required type="text"
                                   class="form-control input-lg"/>
                        <br>
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <button @click="eventNewShow=false" class="btn btn-default">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Мои События
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="1%">ID</th>
                    <th width="1%">Лимит</th>
                    <th>Наиманование</th>
                    <th>Время</th>
                    <th>Локация</th>
                    <th width="150px"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!events.length">
                    <td colspan="7" class="text-center">Моих событий не найдено</td>
                </tr>
                <template v-for="event in events">
                    <tr>
                        <td>{{ event.id }}</td>
                        <td>{{ event.membersLimit }}</td>
                        <td>{{ event.name }}</td>
                        <td>{{ event.time }}</td>
                        <td>{{ event.location }}</td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <button @click="showEvent(event)" class="btn btn-default">Показать</button>
                                <button @click="deleteEvent(event)" class="btn btn-danger">Удалить</button>
                            </div>
                        </td>
                    </tr>
                    <template v-if="eventNow && event.id === eventNow.id">
                        <tr>
                            <td colspan="7" style="white-space: pre-wrap">{{ event.description }}</td>
                        </tr>
                        <tr v-for="member in members">
                            <td></td>
                            <td colspan="2">{{ member.name }}</td>
                            <td colspan="2">{{ member.surname }}</td>
                            <td colspan="2">{{ member.age }}</td>
                        </tr>
                    </template>
                </template>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import EventController from '$api/controllers/EventController';
    import EventMemberController from '$api/controllers/EventMemberController';

    import Event from '$api/entity/Event';
    import EventDTO from '$api/dto/events/EventDTO';
    import EventMemberDTO from '$api/dto/events/EventMemberDTO';

    import RowInput from '$src/components/form/row-input';
    import RowTextarea from '$src/components/form/row-textarea';

    export default {
        name: "buy",
        components: {RowInput, RowTextarea},
        metaInfo() {
            return {
                title: 'Мои события'
            }
        },
        data: () => ({
            /** @type Event[] */
            events: [],
            /** @type ?Event */
            eventNow: null,
            /** @type EventMemberDTO[] */
            members: [],

            eventNew: new EventDTO(10, '', '', '', ''),
            eventNewShow: false,
        }),
        created() {
            this.getEvents();
        },
        methods: {
            getEvents() {
                EventController.GetMyList(events => this.events = events);
            },
            showEvent(event) {
                if (this.eventNow?.id !== event.id) {
                    EventMemberController.GetList(event.id, members => {
                        this.members = members;
                        this.eventNow = event;
                    })
                }
            },
            hideEvent() {
                this.eventNow = null;
            },
            postEvent() {
                EventController.Post(this.eventNew, event => {
                    this.events.unshift(event);
                    this.eventNew = new EventDTO(10, '', '', '', '');
                });
            },
            deleteEvent(event) {
                this.$swal({
                    title: 'Удаление события',
                    text: 'Вы точно хотите удалить событие `' + event.name + '`?',
                    buttons: true,
                    dangerMode: true,
                }).then(answer => {
                    if (answer) {
                        EventController.Delete(event.id, result => {
                            this.events.remove(e => e.id === event.id);
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>