<template>
    <div class="container">
        <div v-if="$user.loggedIn" class="panel panel-default">
            <div class="panel-heading">
                События
            </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th width="1%">ID</th>
                    <th width="1%">Лимит</th>
                    <th>Наиманование</th>
                    <th>Время</th>
                    <th>Локация</th>
                    <th width="170px"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-show="!events.length">
                    <td colspan="6" class="text-center">Событий не найдено</td>
                </tr>
                <tr v-for="event in events">
                    <td>{{ event.id }}</td>
                    <td>{{ event.membersLimit }}</td>
                    <td>{{ event.name }}</td>
                    <td>{{ event.time }}</td>
                    <td>{{ event.location }}</td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button @click="subscribeToEvent(event)" class="btn btn-primary">Записаться</button>
                            <button @click="$swal(event.name, event.description)" class="btn btn-default">Описание</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div v-else class="jumbotron">
            <h1>Event planning</h1>
            <p>Создавайте события и регистрируйте участников.</p>
            <p>
                <router-link class="btn btn-primary btn-lg" to="/login">Войти</router-link>
            </p>
        </div>
    </div>
</template>

<script>
    import EventController from '$api/controllers/EventController';
    import EventMemberController from '$api/controllers/EventMemberController';
    import Event from '$api/entity/Event';

    export default {
        name: "home",
        metaInfo() {
            return {
                title: 'Event planning',
                meta: [
                    {name: 'description', content: 'Создавайте мероприятия и регистрируйте участников.'},
                    {name: 'keywords', content: 'Event planning'},
                ]
            }
        },
        data: () => ({
            /** @type Event[] */
            events: []
        }),
        created() {
            if (this.$user.loggedIn) {
                this.getEvents();
            }
        },
        methods: {
            getEvents() {
                EventController.GetList(events => this.events = events);
            },
            subscribeToEvent(event) {
                EventMemberController.Post(event.id, result => {
                    if (result) {
                        this.$swal('Вы записались на событие!');
                    } else {
                        this.$swal({
                            title: 'Выход из события',
                            text: 'Вы уже подписаны на это событие. Хотите выйти?',
                            buttons: true,
                            dangerMode: true,
                        }).then(answer => {
                            if (answer) {
                                EventMemberController.Delete(event.id, () => this.$swal('Вы успешно вышли.'))
                            }
                        });
                    }
                });
            }
        }
    }
</script>

<style scoped>

</style>
