<template>
    <div v-if="!$user.loggedIn" class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5 col-lg-4 center-block f-none" style="margin-top: 25vh">
                <div class="panel panel-default">
                    <div class="page-header text-center m-0">
                        <h1>{{ registration ? 'Регистрация' : 'Авторизация' }}</h1>
                    </div>
                    <div class="panel-body">
                        <form @submit.prevent="validateForm">
                            <row-input name="Login" v-model="email" placeholder="Почта"
                                       v-validate="'min:6|max:255|email'" required type="text"
                                       autocomplete="username" class="form-control input-lg"/>
                            <br>
                            <row-input name="Password" v-model="password" placeholder="Пароль"
                                       v-validate="'min:8|max:64'" required type="password"
                                       autocomplete="password" class="form-control input-lg"/>
                            <br>
                            <div v-show="registration">
                                <row-input name="Password2" v-model="password2" placeholder="Повторите пароль"
                                           type="password" class="form-control input-lg"/>
                                <br>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block btn-lg">{{ registration ? 'Создать аккаунт' : 'Войти' }}</button>
                        </form>
                    </div>
                </div>
                <div class="checkbox text-center">
                    <label class="pl-15">
                        <input v-model="registration" type="checkbox">
                        <a>Регистрация</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import UserController from '$api/controllers/UserController';
    import UserTokenController from '$api/controllers/UserTokenController';
    import RowInput from '$src/components/form/row-input';

    export default {
        name: "login",
        components: {RowInput},
        data() {
            return {
                email: '',
                password: '',
                password2: '',

                registration: false
            }
        },
        created() {
            // Checks
            if (this.$user.loggedIn) {
                window.location = this.$route.query.redirect ? decodeURI(this.$route.query.redirect) : '/profile';
            }
        },
        methods: {
            validateForm() {
                if (this.registration && this.password !== this.password2) {
                    this.$swal('', 'Пароли не равны', 'warning');
                } else {
                    this.$validator.validateTask(this.submitForm);
                }
            },
            submitForm() {
                if (this.registration) {
                    UserController.Post(this.email, this.password, () => this.$swal('Проверьте почту ' + this.email + ' и перейдите по ссылке, которую вы получили.'));
                }
                else {
                    UserTokenController.Post(this.email, this.password, token => {
                        console.info(token);
                        this.$user.token = token;
                        window.location = this.$route.query.redirect ? decodeURI(this.$route.query.redirect) : '/profile';
                    });
                }
            }
        }
    }
</script>

<style>
    .grecaptcha-badge {
        bottom: 64px !important;
    }
</style>
