<template>
    <div v-if="$user.loggedIn" class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="m-0">
                    <small>Пользователь</small>
                    <span>{{ $user.login }}</span>
                </h2>
            </div>
            <div class="panel-body">
                <form @submit.prevent="validateForm" class="table m-0">
                    <row-input name="Name" v-model="profile.name" placeholder="Имя"
                               v-validate="'min:1|max:128'" required type="text"
                               class="form-control input-lg"/>
                    <br>
                    <row-input name="Surname" v-model="profile.surname" placeholder="Фамилия"
                               v-validate="'max:128'" type="text"
                               class="form-control input-lg"/>
                    <br>
                    <row-input name="Age" v-model.number="profile.age" placeholder="Возраст (в годах)"
                               v-validate="'between:1,255'" required type="number"
                               class="form-control input-lg"/>
                    <br>
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import UserProfileController from '$api/controllers/UserProfileController';

    import UserProfile from '$api/entity/UserProfile';
    import UserProfileDTO from '$api/dto/users/UserProfileDTO';

    import RowInput from '$src/components/form/row-input';

    export default {
        name: "profile",
        components: {RowInput},
        metaInfo() {
            return {
                title: 'Профиль ' + this.$user.login,
            }
        },
        data() {
            return {
                /** @type UserProfile */
                profile: new UserProfile({
                    userId: this.$user.id
                }),
            }
        },
        created() {
            // this.$user.loginRequired();
            this.getProfile();
        },
        methods: {
            getProfile() {
                UserProfileController.Get(profile => this.profile = profile || new UserProfile({userId: this.$user.id}));
            },
            putProfile() {
                UserProfileController.Put(new UserProfileDTO(this.profile.name, this.profile.surname, this.profile.age), profile => {
                    this.profile = profile;
                    this.$swal('Профиль обновлён!');
                });
            },
            validateForm() {
                this.$validator.validateTask(this.putProfile);
            }
        }
    }
</script>

<style scoped>

</style>