<template>
    <div>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Event planning</a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul v-if="$user.loggedIn" class="nav navbar-nav">
                            <li :class="{active: $route.name==='events'}"><router-link to="/events">Events</router-link></li>
                            <li :class="{active: $route.name==='profile'}"><router-link to="/profile">Profile</router-link></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li v-if="$user.loggedIn"><a @click="$user.logout" role="button">Log out</a></li>
                            <li v-else :class="{active: $route.name==='login'}"><router-link to="/login">Log in</router-link></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <clipboard></clipboard>
        <router-view></router-view>
        <footer>
            <div class="container text-center">
                <p class="mt-15">{{ copyright }}</p>
            </div>
        </footer>
    </div>
</template>

<script>
    import Clipboard from '$src/components/clipboard';

    export default {
        name: "app",
        components: {Clipboard},
        metaInfo() {
            return {
                title: this.$route.meta.title + ' - Event planning',
                // titleTemplate: 'Event planning - %s'
            }
        },
        data() {
            return {
                copyright: `© ${new Date().getFullYear()} ${window.location.hostname.toUpperCase()}`
            }
        }
    }
</script>

<style src="../src/files/css/index.css"></style>
<style scoped>

</style>
