.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.p-0 {
    padding: 0 !important;
}

.pt-5 {
    padding-top: 5px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.m-0 {
    margin: 0 !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.f-none {
    float: none;
}

/*.text-black {
    color: black !important;
}*/

.text-smoke {
    color: whitesmoke;
}

.text-grey {
    color: darkgrey;
}

.text-yellow {
    color: yellow;
}

.text-orange {
    color: orange;
}

.text-bold {
    font-weight: bold;
}

.text-default {
    /*color: #333;*/
    font-weight: unset;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-justify {
    text-align: justify;
    /*text-justify: inter-word;*/
    /*text-align-last: center;*/
    /* for IE9 */
    /*-ms-text-align-last: center;*/
}

.d-inline-block {
    display: inline-block !important;
}

.bg-white {
    background-color: white !important;
}

.bg-default {
    background-color: #f5f5f5 !important;
}

.ws-pre-line {
    white-space: pre-line;
}

/* https://stackoverflow.com/a/29224585 */
.center-block-v {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Fixes */
.btn-xs {
    margin-top: -1px;
}

ul.navbar-nav li .badge {
    margin-top: -1px;
}

.page-header {
    margin-top: 20px;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.table-middle tr td,
.table-middle tr th {
    vertical-align: middle !important;
}

/* Footer (https://stackoverflow.com/a/22948396) */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
    /*z-index: -1;*/
}

html, body {
    width: 100%;
    overflow-x: hidden !important;
}
